<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Asimov" connectionString="dCHzZmzDPreen8GU/k9qWzevpUileTyiLhzv8x0NHvARgN+aO64fG1/4sgfYhPaJQ365Z4XDw5lfLqyBO+N8+JgjQkylltf8HZxhbyIejIDRxIsA8SERxhvqi2Rwluj8akg9/HDTPA7frPjZ4QrSow==" providerName="System.Data.SqlClient" />
    <add name="TEL_ADMIN" connectionString="6sjzo/u+MVasPvnv6cHsoMMWObKDQlQ8CqCCgLYJZ+bZ2CU196EDuLQ9evVAW+zR/8oFPC/X2LhCKFOkMKFOcmIYQ5ZjTLz68rT7p0j6Z5eChF3Qpg/n+UOqHvPj9SLO9+/Q0u5q0wngauG4b0WJPw==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>


  </appSettings>
</configuration>